body {
	margin: 0px 0;
	padding: 0;
}
#top {
	background-image: url("../files/flower.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 593px;
	color: #fff;
	position: relative;
}

#welcome-text {
	position: absolute;
	bottom: 20px;
}

#menu > img {
	margin-top: 5px;
	margin-left: 50px;
	margin-bottom: 5px;

}

#m-top > p {
	width: 70%;
	margin: 0 auto;
}

#m-bottom {
	height: 100%;
}

#m-bottom > div {	
	width: 70%;
	position: relative;
	top: 10px;
	left: 20px;
	margin: 0 auto;
	clear: both;
}

#m-bottom > div > img {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
#m-bottom > div > p,
#m-bottom > div > h3 {
	width: 100%;
}

#foot {
	background: #2c242c;
	padding: 20px 0 0;	
	position: relative;
	top: 20px;
}

#foot > #foot-container > #list,
#foot > #foot-container > #links > p {
	color: #696b6a;
}
#foot > #foot-container > #links > img {
	margin: 0 5px;
}

.login-wrapper {
	padding: 10px 10px;
}
